In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv("olympics-3.csv", header=4)

In [7]:
data.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [8]:
#data shape 
data.shape

(29216, 10)

In [9]:
#Olympics data Logistic Regression

In [10]:
# Label Gold , Silver, Bronze
data.Medal.value_counts()

Medal
Gold      9850
Bronze    9689
Silver    9677
Name: count, dtype: int64

In [13]:
#Variables - All the variables so not seem related except gender. Just take Gender

In [14]:
data['Gender'].unique()

array(['Men', 'Women'], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [26]:
lb1 = LabelEncoder()
lb2 = LabelEncoder()
X = data['Gender'].values.reshape(-1, 1)
y = data['Medal']

In [27]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=42)

In [28]:
X_train = lb1.fit_transform(X_train)
y_train = lb2.fit_transform(y_train)
X_val = lb1.transform(X_val)
y_val = lb2.transform(y_val)

C:\Users\Shashank\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Shashank\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [34]:
def model(clf) :
    clf.fit(X_train.reshape(-1, 1), y_train)
    pred = clf.predict(X_val.reshape(-1, 1))
    pred_train = clf.predict(X_train.reshape(-1, 1))
    print(f'Accuracy is {accuracy_score(pred_train, y_train)}')
    print(f'Accuracy is {accuracy_score(pred, y_val)}')

    return clf

In [35]:
lr = LogisticRegression()
lr = model(lr)

Accuracy is 0.33862723621759766
Accuracy is 0.33666484118291345